*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
@font-face{
    font-family: 'Inter';
    src: url("../fonts/Inter_24pt-Regular.ttf");
}
body{
    color: white;
    background-color: #0e0e0e;
}
section {
    height: 100vh;
}
.header_section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 10%;
    background-image: url("..//img/back_index_prof.png"), linear-gradient(90deg,  #e73abb, #5a0144 );
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.header_nav{
    height: 100%;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.header_nav a{
    writing-mode: vertical-lr;
    text-decoration: none;
    color: white;
}
.header_content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: baseline;
}

.title{
    display: flex;
    align-items: center;
    gap: 20px;
}
.title h1{
    font-size: 90px;
    font-weight: bold;
    font-style: italic;
}
.title p{
    font-size: 42px;
    font-weight: bold;
}
.btn_cta{
    background-color: white;
    color: #e73abb;
    border-radius: 10px;
    padding: 10px 70px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    font-size: 24px;
}
.btn_cta:hover{
    background-color:  #e73abb;;
    color: white;
}
ul{
    list-style-type: none;
}

.zones_section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    background-image: url("../img/zone_back.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.zones_section fieldset{
    text-align: center;
    border-radius: 25px;
    width: 90%;
}
.zones_section fieldset legend{
    font-size: 44px;
    font-weight: bold;
    padding: 0 10px;
}
.zone_cards{
    display: flex;
    justify-content: space-between;
    padding: 50px;

}
.zone_card{
    background-color: #201e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    gap: 10px;
    border-radius: 10px;
}

.zone_card h2{
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
}
.zone_card img{
    padding: 10px;
    border-radius: 10px;
}
.zone_card p{
    font-size: 24px;
}
.zone_card .descriptor{
    font-size: 12px;
    color: #5c5c5c;
}
.zone_card a{
    text-decoration: none;
}
.blue_border{
    border: 2px solid #0038FF;
}
.lightblue_border{
    border: 2px solid #149EF2;
}
.purple_border{
    border: 2px solid #e73abb;
}

.blue_btn{
    color: #0038FF;
}
.lightblue_btn{
    color: #149EF2;
}
.purple_btn{
    color:  #e73abb;
}

.photos_section{
    padding: 0 2.5%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    background-image: url('../img/back_photo.png');
    background-size: 90%;
    background-position: 50%;
}
.photos_section img{
    width: 20%;
    object-fit: contain;
    filter: saturate(0.2);
}
.photos_section img:nth-of-type(2){
    width: 40%;
    object-fit: contain;
    filter: saturate(1);
}
.photos{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.circles{
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    opacity: 50%;
}
.circles div:nth-of-type(2){
    opacity: 100%;
}


.sales_section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    background-image: url('../img/shape_back_one.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sales_section h1{
    margin: 50px;
    font-size: 56px;
}
.sales{
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    width: 90%;
    height: 60%;
}
.sale{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.sale h3{
    grid-row-start: 2;
    grid-column-start: 2;
}
.sale a{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    color: white;
    text-decoration: none;
}
#ciber{
    background-image: url('../img/ciber_back.png');
    background-color: #5a0144;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
#ciberification_cs{
    background-image: url('../img/cs_back.png');
    background-color: #5a0144;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}
#ciberification_dota{
    background-image: url('../img/dota_back.jpg');
    background-color: #5a0144;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 7;
}
#sales_pn{
    background-image: url('../img/monday_back.jfif');
    background-color: #5a0144;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
#group_vk{
    background-image: url('../img/vk_back.jpg');
    background-color: #5a0144;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 7;
}
#snackes{
    background-image: url('../img/drink_back.jfif');
    background-color: #5a0144;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#hb{
    background-image: url('../img/birthday_back.png');
    background-color: #5a0144;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    
}

